.rb {
    position: relative;
}
.buttom {
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: #800040; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #800040;
}
